body{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial;
  background-color: rgba(123, 114, 103, 0.996);
}
.title-box{
  font-size: clamp(1.5rem, 10vw, 3.8rem);
  color: rgb(248, 193, 111);
  
}
.container{
  width: clamp(10rem, 60vw, 24rem);
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 5px solid rgb(214, 146, 73);
}
.box1{
  background-image: url(board-pic.avif);
  backdrop-filter: blur(10px);
  background-size: cover;
  border: 3px solid rgb(235, 226, 226);
  text-align: center;
  font-size: clamp(2rem, 10vw, 5rem);
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-box, .mode-box{
  margin-top: 10px;
  font-size: clamp(1rem, 4vw, 2rem);
  /* padding: 10px; */
  margin-bottom: 10px;
}
.restart-game-button{
  background-color: rgb(149, 204, 240);
  max-width: 150px;
  max-height: 50px;
  width: 20%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 500px;
  cursor: pointer;
  color: rgb(15, 16, 17);
  
}
.restart-game-button:hover{
  background-color: rgb(243, 92, 92);
  color: aliceblue;
}
.player-computer-box{
  max-width: 300px;
  max-height: 50px;
  width: 30%;
  height: auto;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
}
.two-player-button, .play-with-computer-button{
  background-color: rgb(221, 234, 76);
  max-width: 200px;
  max-height: 50px;
  width: 100%;
  height: 30px;
  border-radius: 500px;
  cursor: pointer;
  color: rgb(15, 16, 17);
  margin-bottom: 5px;
  color: rgb(20, 5, 5);
  border: none;
}
.two-player-button:hover, .play-with-computer-button:hover{
  background-color: greenyellow;
  color: rgb(2, 19, 33);
}
.note-box{
  text-align: start;
  padding-left: 10%;
  color: rgb(203, 164, 114);
  font-size: clamp(0.3rem, 2vw, 1rem);
}

@media (max-width: 600px) {
  .container{
    width: 14rem;
  }
  .box1{
    font-size: 3rem;
  }
  .result-box, .mode-box{
    font-size: clamp(1rem, 2vw, 2rem);
  }
  .player-computer-box{
    width: 25%;
    height: 30px;
    border-radius: 0px;
  }
  .two-player-button, .play-with-computer-button, .restart-game-button{
    font-size: clamp(0.2rem, 2vw, 1rem);
  }
}