body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  background-color: rgb(22, 21, 21);
}
.container{
  max-width: 220px;
  width: auto;
  min-height: 350px;
  height: auto;
  background-color: rgb(9, 193, 244);
  padding: 18px;
  border-radius: 20px;
  border: 5px solid rgba(85, 81, 81, 0.512);
}
.button-box{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  gap: 5px;
}
.buttons{
  width: 100%;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 1px 2px rgb(147, 126, 126);
  font-size: 1.2rem;
  border: 3px solid black;
}
.screen-box{
  min-height: 30px;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  border-radius: 10px;
  box-shadow: 3px 2px rgb(106, 102, 102);
  border: 5px solid rgba(212, 183, 231, 0.595);
  word-break: break-all;     
  overflow-wrap: break-word;
  padding-right: 10px;
}
.button-equal{
  background-color: rgba(191, 237, 121, 0.982);
}
.button-del{
  background-color: yellow;
}
.button-c{
  background-color: rgb(223, 175, 175);
}
.button-modulo{
  background-color: bisque;
}
.button-negative-number{
  background-color: rgb(204, 202, 200);
}
.button-plus, .button-minus, .button-multiply, .button-divide{
  background-color: rgb(218, 200, 177);
}
.button-dot{
  background-color: rgba(245, 230, 134, 0.904);
  font-size: 20px;
  font-weight: bolder;
}
.tittle{
  color: rgb(253, 251, 248);
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: Arial;
}